<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fall.smarthouse.mapper.ElectricMapper">

<!-- Integer updateElectricAppliance(ElectricAppliance electricAppliance); -->
    <update id="updateElectricAppliance">
        update electric_appliance
        <set>
            <if test="lightBedA != null">
                light_bed_a = #{lightBedA},
            </if>
            <if test="lightBedB != null">
                light_bed_b = #{lightBedB},
            </if>
            <if test="lightLivingRoom != null">
                light_living_room = #{lightLivingRoom},
            </if>
            <if test="lightBathroom != null">
                light_bathroom = #{lightBathroom},
            </if>
            <if test="switchA != null">
                switch_a = #{switchA},
            </if>
            <if test="switchB != null">
                switch_b = #{switchB},
            </if>
            <if test="switchC != null">
                switch_c = #{switchC},
            </if>
            <if test="curtainA != null">
                curtain_a = #{curtainA},
            </if>
            <if test="curtainB != null">
                curtain_b = #{curtainB},
            </if>
            <if test="warnLight != null">
                warn_light = #{warnLight}
            </if>
        </set>
    </update>

    <!--    Integer insertElectricHistory(Timestamp time, String account, Integer electricType,Integer operationType,Character electricId);-->
    <insert id="insertElectricHistory">
         insert into electric_history values (#{time},#{account},#{elelctricType},#{operationType},#{elelctricId})
    </insert>

    <!--    List<Map> selectElectricHistory(String account,Timestamp startTime,Timestamp endTime);-->
    <resultMap id="electricHistoryMap" type="java.util.Map">
        <result property="time" column="time" javaType="java.lang.Long"></result>
        <result property="electricType" column="electric_type" javaType="java.lang.Integer"></result>
        <result property="operationType" column="operation_type" javaType="java.lang.Integer"></result>
        <result property="electricId" column="electric_id" javaType="java.lang.Character"></result>
    </resultMap>
    <select id="selectElectricHistory" resultMap="electricHistoryMap">

    </select>
</mapper>