<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fall.smarthouse.mapper.ElectricMapper">

<!-- Integer updateElectricAppliance(ElectricAppliance electricAppliance); -->
    <update id="updateElectricAppliance">
        update electric_appliance
        <set>
            <if test="lightBedA != null">
                light_bed_a = #{lightBedA},
            </if>
            <if test="lightBedB != null">
                light_bed_b = #{lightBedB},
            </if>
            <if test="lightLivingRoom != null">
                light_living_room = #{lightLivingRoom},
            </if>
            <if test="lightBathroom != null">
                light_bathroom = #{lightBathroom},
            </if>
            <if test="switchA != null">
                switch_a = #{switchA},
            </if>
            <if test="switchB != null">
                switch_b = #{switchB},
            </if>
            <if test="switchC != null">
                switch_c = #{switchC},
            </if>
            <if test="curtainA != null">
                curtain_a = #{curtainA},
            </if>
            <if test="curtainB != null">
                curtain_b = #{curtainB},
            </if>
            <if test="warnLight != null">
                warn_light = #{warnLight}
            </if>
        </set>
    </update>

    <!--    Integer insertElectricHistory(Timestamp time, String account, ElectricAppliance electricAppliance);-->
    <insert id="insertElectricHistory">
         insert into electric_history (`time`,history_id,account,electric_type,operation_type,electric_id) values
            <trim  suffixOverrides=",">
                <if test="electricAppliance.lightBedA != null">
                    (#{time},null,#{account},1,#{electricAppliance.lightBedA},'A'),
                </if>
                <if test="electricAppliance.lightBedB != null">
                    (#{time},null,#{account},1,#{electricAppliance.lightBedB},'B'),
                </if>
                <if test="electricAppliance.lightLivingRoom != null">
                    (#{time},null,#{account},1,#{electricAppliance.lightLivingRoom},'C'),
                </if>
                <if test="electricAppliance.lightBathroom != null">
                    (#{time},null,#{account},1,#{electricAppliance.lightBathroom},'D'),
                </if>
                <if test="electricAppliance.switchA != null">
                    (#{time},null,#{account},2,#{electricAppliance.switchA},'A'),
                </if>
                <if test="electricAppliance.switchB != null">
                    (#{time},null,#{account},2,#{electricAppliance.switchB},'B'),
                </if>
                <if test="electricAppliance.switchC != null">
                    (#{time},null,#{account},2,#{electricAppliance.switchC},'C'),
                </if>
                <if test="electricAppliance.curtainA != null">
                    (#{time},null,#{account},4,#{electricAppliance.curtainA},'A'),
                </if>
                <if test="electricAppliance.curtainB != null">
                    (#{time},null,#{account},4,#{electricAppliance.curtainB},'B'),
                </if>
            </trim>
    </insert>

    <!--    List<SqlHistory> selectElectricHistory(String account,Timestamp startTime,Timestamp endTime);-->
    <select id="selectElectricHistory" resultType="com.fall.smarthouse.model.SqlHistory">
        select UNIX_TIMESTAMP(`time`) as `time`,electric_type,operation_type,electric_id
        from electric_history
        where `time` between #{startTime} and #{endTime} order by `time` desc
    </select>
</mapper>