<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fall.smarthouse.mapper.SensorMapper">
    <select id="testMapper" resultType="com.fall.smarthouse.model.Sensor">
        select * from sensor
    </select>

<!--    Integer insertToSensor(Sensor sensor);-->
    <insert id="insertToSensor">
        insert into sensor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="time != null">
                time,
            </if>
            <if test="gas != null">
                gas,
            </if>
            <if test="smog != null">
                smog,
            </if>
            <if test="temperature != null">
                temperature,
            </if>
            <if test="humidity != null">
                humidity,
            </if>
            <if test="shake != null">
                shake,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="time != null">
                FROM_UNIXTIME(#{time,jdbcType=BIGINT}, '%Y-%m-%d %H:%i:%s'),
            </if>
            <if test="gas != null">
                #{gas},
            </if>
            <if test="smog != null">
                #{smog},
            </if>
            <if test="temperature != null">
                #{temperature},
            </if>
            <if test="humidity != null">
                #{humidity},
            </if>
            <if test="shake != null">
                #{shake},
            </if>
        </trim>
    </insert>
<!--    List<Sensor> pollingSelectSensorData(Timestamp time);-->
    <select id="pollingSelectSensorData" resultType="com.fall.smarthouse.model.Sensor">
        select UNIX_TIMESTAMP(`time`),gas,smog,temperature,humidity,shake
        from sensor
        where `time` >= DATE_SUB(#{time},INTERVAL 5 MINUTE) order by `time`
    </select>
<!--    List<Sensor> selectSensorDataByTime(Timestamp minTime,Timestamp maxTime);-->
    <select id="selectSensorDataByTime" resultType="com.fall.smarthouse.model.Sensor">
        select UNIX_TIMESTAMP(`time`),gas,smog,temperature,humidity,shake
        from sensor
        where `time` between #{minTime} and #{maxTime} order by `time`
    </select>
<!--    List<Double> selectAbnormalGasData(Timestamp startTime);-->
    <select id="selectAbnormalGasData" resultType="java.lang.Double">
        select gas from sensor where `time` between #{startTime} and (
            select end_time from abnormal where start_time = #{startTime}
            )
    </select>
<!--    List<Double> selectAbnormalSmogData(Timestamp startTime);-->
    <select id="selectAbnormalSmogData" resultType="java.lang.Double">
        select smog from sensor where `time` between #{startTime} and (
            select end_time from abnormal where start_time = #{startTime}
        )
    </select>
<!--    List<Double> selectAbnormalTemperatureData(Timestamp startTime);-->
    <select id="selectAbnormalTemperatureData" resultType="java.lang.Double">
        select temperature from sensor where `time` between #{startTime} and (
            select end_time from abnormal where start_time = #{startTime}
        )
    </select>
<!--    List<Double> selectAbnormalHumidityData(Timestamp startTime);-->
    <select id="selectAbnormalHumidityData" resultType="java.lang.Double">
        select humidity from sensor where `time` between #{startTime} and (
            select end_time from abnormal where start_time = #{startTime}
        )
    </select>
<!--    List<Double> selectAbnormalShakeData(Timestamp startTime);-->
    <select id="selectAbnormalShakeData" resultType="java.lang.Double">
        select shake from sensor where `time` between #{startTime} and (
            select end_time from abnormal where start_time = #{startTime}
        )
    </select>
</mapper>