<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fall.smarthouse.mapper.SensorMapper">
    <select id="testMapper" resultType="com.fall.smarthouse.model.Sensor">
        select * from sensor
    </select>
</mapper>