* {
    margin: 0;
    padding: 0;
    /* --el-color-primary:orange;
    --el-color-primary-light-9:lightyellow;
    --el-color-primary-light-7:#d3dce6; */
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

